To add new dishes, restaurant managers must be logged in, select a restaurant (that they manage), and then use the Add New Dish form below.
<br>
<br>

Add New Dish Form:
<br>
<br>

<%= form_for @dish, url: restaurant_dishes_path, method: "post" do |f| %>
  <div>
    <%= f.text_field :dish_name, placeholder: "Dish Name" %>
  </div>
  <div>
    <%= f.text_field :dish_photo, placeholder: "Dish Photo" %>
  </div>
  <div>
    <%= f.text_field :dish_description, placeholder: "Dish Description" %>
  </div>
  <div>
    <%= f.text_field :dish_price, placeholder: "Dish Price" %>
  </div>
  <%= f.submit "Add New Dish", :class => "button" %>
<% end %>