To add new restaurants, restaurant managers must be logged in, and then use the form below.
<br>
<br>
Add New Restaurant Form:
<br>
<br>

<%= form_for @restaurant, url: restaurants_path, method: "post" do |f| %>
  <div>
    <%= f.text_field :restaurant_name, placeholder: "Restaurant Name", :class => "input" %>
  </div>
  <div>
    <%= f.text_field :restaurant_address, placeholder: "Restaurant Address", :class => "input" %>
  </div>
  <div>
    <%= f.text_field :restaurant_phone, placeholder: "Restaurant Phone", :class => "input" %>
  </div>
  <div>
    <%= f.text_field :restaurant_website, placeholder: "Restaurant Website", :class => "input" %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <%= f.submit "Add New Restaurant", :class => "button" %>
<% end %>